<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a href="../home/index" class="navbar-brand">Rebu</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSite">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="../home/index">Inicio</a></li>
			<% if user_signed_in? %>
				<%= link_to 'Editar perfil', edit_user_registration_path, :class => 'nav-link' %>
				<li class="nav-item"><a class="nav-link" href="#">Nova Carona</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Minhas caronas</a></li>
				<li class="nav-item"><%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'nav-link'%></li>
			 	<strong class="nav-link">Conta: <%= current_user.email %></strong>
			<% else %>
				<li class="nav-item"><a class="nav-link" href="/users/sign_in">Log In</a></li>
				<%= link_to "Registrar-se", new_user_registration_path, :class => 'nav-link' %> 
			</ul>
			<% end %>
		</div>
	</div>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ok</button>
  </form>
</nav>