<%= render partial: "shared/cabecalho" %>

<div style="background-color: rgb(220,220,220);">

<div class="m-5">
  <div class="p-5">
      <div class="d-flex justify-content-center">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="p-5 border border-primary rounded" style="background-color: rgb(180,180,180);">
              <div class="field m-3">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field m-3">
                  Senha
                  <% f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field m-3">
                    <%= f.check_box :remember_me %>
                    Lembrar-me
                    <% f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions m-3 mt-5">
                  <button class="btn btn-primary">
                    Log in
                    <% f.submit "Log in" %>
                  </button>
              </div>

        <% end %>

        <div <div class="d-flex justify-content-center">
          <div class="m-3" style="color: white">
            <%= render "devise/shared/links" %>
          </div>
        </div>

        </div>

      </div>

  </div>
</div>
</div>
