<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @ride.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.destination %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @ride.weekday %>
</p>

<p>
  <strong>Time:</strong>
  <%= @ride.time %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ride.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @ride.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @ride.user %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
